html{box-sizing: border-box;}


body {
	
	font-family: 'Roboto', sans-serif;
-webkit-font-smoothing: antialiased;}

h1,h2,h3,h4,h5,h6{
	font-weight:lighter; /*____________WILLIAM EDIT__________*/
}

/*Navigation Section*/
.top-navigation{
	background-color: #fff;
	position: fixed;
	width:100%;
	z-index: 9999;}

.content {margin: 0 auto;}

.top-navigation > .content {
	width: 970px;
	height: 70px;
	margin: 0 auto;
	padding: 0px 15px;}

.logo {height: 70px;}

.top-navigation .links {
	float: right;
	font-size: 16px;
	color: #838994;
	letter-spacing: 0.03em;
	margin-top: 25px;
	}

.top-navigation .links li:hover {
	cursor: pointer;
	color: #333333;}


.top-navigation .links > .active {
	color: #4c5058;
	font-weight: 500;}

.links > li {
	display: inline-block;
	margin-left: 25px;}


.introduction {
    background-image: url(../images/first-background.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45.938rem;
	overflow: auto;}


.introduction .content{
	color: white;
	text-align: center;
}

 button {
    width: 9.688rem;
    background-color: #f15a29;
    border-color: #f15a29;
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 1rem 1.5rem;
    color: white;
    font-size: 1.125rem;
}
  button:hover {
	cursor: pointer;
	background-color: #B8561a;}

.introduction-h1 {
	margin-top: 15rem;
	font-size: 3.125rem;
	margin-bottom: -0.5rem;
}

.introduction-h3 {
	margin-top: 1.25rem;
	font-size: 1.563rem;
}

.cases {
	padding-bottom: 5em;

}
hr {
	width: 55em;
	height:1px;
	color: lightgray;
	background-color: lightgray;
	border: 0 none;
}
.cases h2 {
	
	text-align: center;
	margin-top: 3em;
	font-size: 2.75em;
	
}
.cases .devices {
    width: 33.3333333%;
    display: inline-block;
    margin-right: -4px;
    align-content: center;
	text-align: center;

}

.cases img {
	height: 7em;

}

footer {
	text-align: center;
	padding-bottom: 7em;
}

.fa-twitter{
	color: #55acee;
	
}
.fa-facebook{
	color:#4c66a4;
}
.fa-instagram{
	color: #3f729b;
}
.fa-circle-thin {
	
	color: lightgrey;
	
}
.icons > li{
	display: inline-block;
	border: 1px solid;
	border-radius: 1.25rem;
	border-color: lightgray;
	width: 2.5rem;
	padding: 0.625rem 0;
	cursor: pointer;
	
}